In [2]:
import pandas as pd
import glob

folder_path = "path/to/your/folder/*.xml"

#df1=pd.read_xml('Posts.xml')
# # قراءة كل ملفات XML وتحويلها إلى DataFrames
# dfs = [pd.read_xml(file) for file in glob.glob(folder_path)]

# # دمج كل البيانات في DataFrame واحد
# df = pd.concat(dfs, ignore_index=True)

# print(df.head())  # طباعة أول 5 صفوف

In [2]:
df1.head()

,Id,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastActivityDate,Title,...,CommentCount,ContentLicense,LastEditorDisplayName,LastEditDate,LastEditorUserId,CommunityOwnedDate,ParentId,OwnerDisplayName,ClosedDate,FavoriteCount
0,1,1,15.0,2010-07-19T19:12:12.510,52,5571.0,<p>How should I elicit prior distributions fro...,8.0,2023-07-14T08:18:31.703,Eliciting priors from experts,...,2,CC BY-SA 2.5,None,None,NaN,None,NaN,None,None,NaN
1,2,1,59.0,2010-07-19T19:12:57.157,34,33737.0,<p>In many different statistical methods there...,24.0,2022-11-23T13:03:42.033,What is normality?,...,1,CC BY-SA 2.5,user88,2010-08-07T17:56:44.800,NaN,None,NaN,None,None,NaN
2,3,1,5.0,2010-07-19T19:13:28.577,71,6662.0,<p>What are some valuable Statistical Analysis...,18.0,2022-11-27T23:33:13.540,What are some valuable Statistical Analysis op...,...,3,CC BY-SA 2.5,None,2011-02-12T05:50:03.667,183.0,2010-07-19T19:13:28.577,NaN,None,None,NaN
3,4,1,135.0,2010-07-19T19:13:31.617,23,46243.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08T03:00:19.690,Assessing the significance of differences in d...,...,2,CC BY-SA 2.5,None,None,NaN,None,NaN,None,None,NaN
4,5,2,NaN,2010-07-19T19:14:43.050,90,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19T19:21:15.063,None,...,3,CC BY-SA 2.5,None,2010-07-19T19:21:15.063,23.0,2010-07-19T19:14:43.050,3.0,None,None,NaN

In [12]:
df1.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'CreationDate', 'Score',
       'ViewCount', 'Body', 'OwnerUserId', 'LastActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'ContentLicense',
       'LastEditorDisplayName', 'LastEditDate', 'LastEditorUserId',
       'CommunityOwnedDate', 'ParentId', 'OwnerDisplayName', 'ClosedDate',
       'FavoriteCount'],
      dtype='object')

In [3]:
badges_df=pd.read_xml('Badges.xml')
badges_df.head()

   Id  UserId     Name                     Date  Class  TagBased
0   1       5  Teacher  2010-07-19T19:39:07.047      3     False
1   2       6  Teacher  2010-07-19T19:39:07.220      3     False
2   3       8  Teacher  2010-07-19T19:39:07.330      3     False
3   4      23  Teacher  2010-07-19T19:39:07.437      3     False
4   5      36  Teacher  2010-07-19T19:39:07.593      3     False

In [13]:
badges_df.columns

Index(['Id', 'UserId', 'Name', 'Date', 'Class', 'TagBased'], dtype='object')

In [4]:
comments_df=pd.read_xml('Comments.xml')
comments_df.head()

,Id,PostId,Score,Text,CreationDate,UserId,ContentLicense,UserDisplayName
0,1,3,7,Could be a poster child for argumentative and ...,2010-07-19T19:15:52.517,13.0,CC BY-SA 2.5,None
1,2,5,0,"Yes, R is nice- but WHY is it 'valuable'.",2010-07-19T19:16:14.980,13.0,CC BY-SA 2.5,None
2,3,9,1,Again- why? How would I convince my boss to u...,2010-07-19T19:18:54.617,13.0,CC BY-SA 2.5,None
3,4,5,11,"It's mature, well supported, and a standard wi...",2010-07-19T19:19:56.657,37.0,CC BY-SA 2.5,None
4,6,14,10,why ask the question here? All are community-...,2010-07-19T19:22:27.947,23.0,CC BY-SA 2.5,None

In [5]:
postHistory_df=pd.read_xml('PostHistory.xml')
postHistory_df.head()

,Id,PostHistoryTypeId,PostId,RevisionGUID,CreationDate,UserId,Text,ContentLicense,Comment,UserDisplayName
0,1,2,1,e58bf7fd-e60f-4c58-a6e4-dfc91cf98a69,2010-07-19T19:12:12.510,8.0,How should I elicit prior distributions from e...,CC BY-SA 2.5,None,None
1,2,1,1,e58bf7fd-e60f-4c58-a6e4-dfc91cf98a69,2010-07-19T19:12:12.510,8.0,Eliciting priors from experts,CC BY-SA 2.5,None,None
2,3,3,1,e58bf7fd-e60f-4c58-a6e4-dfc91cf98a69,2010-07-19T19:12:12.510,8.0,<bayesian><prior><elicitation>,CC BY-SA 2.5,None,None
3,4,2,2,18bf9150-f1cb-432d-b7b7-26d2f8e33581,2010-07-19T19:12:57.157,24.0,In many different statistical methods there is...,CC BY-SA 2.5,None,None
4,5,1,2,18bf9150-f1cb-432d-b7b7-26d2f8e33581,2010-07-19T19:12:57.157,24.0,What is normality?,CC BY-SA 2.5,None,None

In [6]:
postLink_df=pd.read_xml('PostLinks.xml')
postLink_df.head()

    Id             CreationDate  PostId  RelatedPostId  LinkTypeId
0  108  2010-07-21T14:47:33.983     395            173           1
1  145  2010-07-23T16:30:41.780     548            539           1
2  151  2010-07-24T09:11:01.413     536            590           1
3  217  2010-07-26T20:12:15.600     375             30           1
4  263  2010-07-27T16:00:22.133     769             31           1

In [8]:
tags_df=pd.read_xml('Tags.xml')
tags_df.head()

   Id        TagName  Count  ExcerptPostId  WikiPostId
0   1       bayesian   7844        20258.0     20257.0
1   2          prior    978        62158.0     62157.0
2   3    elicitation     12            NaN         NaN
3   5    open-source     18            NaN         NaN
4   6  distributions   9359         8046.0      8045.0

In [9]:
users_df=pd.read_xml('Users.xml')

In [10]:
users_df.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId
0,-1,1,2010-07-19T06:55:26.860,Community,2010-07-19T06:55:26.860,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",3131,17823,9720,-1.0
1,2,101,2010-07-19T14:01:36.697,Geoff Dalgas,2019-02-07T22:01:05.890,http://stackoverflow.com,"Corvallis, OR",<p>Dev #2 who helped create Stack Overflow cur...,49,3,0,2.0
2,3,101,2010-07-19T15:34:50.507,Jarrod Dixon,2019-02-07T16:22:42.717,http://jarroddixon.com,"Johnson City, TN, USA","<p>Former <a href=""http://blog.stackoverflow.c...",50,23,0,3.0
3,4,101,2010-07-19T19:03:27.400,Emmett,2016-11-24T19:37:25.313,http://minesweeperonline.com,"San Francisco, CA","<p>co-founder of <a href=""https://airtable.com...",24,0,0,1998.0
4,5,12151,2010-07-19T19:03:57.227,Shane,2022-12-07T19:30:33.150,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,2101,684,5,54503.0

In [8]:
votes_df=pd.read_xml(r'D://mada//programming//Datasets//Stack over flaw//Votes.xml', parser="etree")
votes_df.head(50)

    Id  PostId  VoteTypeId             CreationDate  UserId  BountyAmount
0    1       3           2  2010-07-19T00:00:00.000     NaN           NaN
1    2       2           2  2010-07-19T00:00:00.000     NaN           NaN
2    3       5           2  2010-07-19T00:00:00.000     NaN           NaN
3    4       5           2  2010-07-19T00:00:00.000     NaN           NaN
4    5       3           2  2010-07-19T00:00:00.000     NaN           NaN
5    6       4           2  2010-07-19T00:00:00.000     NaN           NaN
6    7       2           2  2010-07-19T00:00:00.000     NaN           NaN
7   10       3           2  2010-07-19T00:00:00.000     NaN           NaN
8   11       5           2  2010-07-19T00:00:00.000     NaN           NaN
9   12       6           2  2010-07-19T00:00:00.000     NaN           NaN
10  14      10           2  2010-07-19T00:00:00.000     NaN           NaN
11  15       5           2  2010-07-19T00:00:00.000     NaN           NaN
12  16       2           2  2010-07-19T00:00:00.000     NaN           NaN
13  17       6           2  2010-07-19T00:00:00.000     NaN           NaN
14  20       1           2  2010-07-19T00:00:00.000     NaN           NaN
15  21       3           2  2010-07-19T00:00:00.000     NaN           NaN
16  22       5           2  2010-07-19T00:00:00.000     NaN           NaN
17  23       9           2  2010-07-19T00:00:00.000     NaN           NaN
18  24      14           2  2010-07-19T00:00:00.000     NaN           NaN
19  25      16           2  2010-07-19T00:00:00.000     NaN           NaN
20  26      13           2  2010-07-19T00:00:00.000     NaN           NaN
21  27       6           2  2010-07-19T00:00:00.000     NaN           NaN
22  28      17           2  2010-07-19T00:00:00.000     NaN           NaN
23  29      14           3  2010-07-19T00:00:00.000     NaN           NaN
24  30      21           2  2010-07-19T00:00:00.000     NaN           NaN
25  31       1           2  2010-07-19T00:00:00.000     NaN           NaN
26  32      22           2  2010-07-19T00:00:00.000     NaN           NaN
27  33       2           2  2010-07-19T00:00:00.000     NaN           NaN
28  34       5           2  2010-07-19T00:00:00.000     NaN           NaN
29  35      20           2  2010-07-19T00:00:00.000     NaN           NaN
30  36      16           2  2010-07-19T00:00:00.000     NaN           NaN
31  37       1           2  2010-07-19T00:00:00.000     NaN           NaN
32  38      15           2  2010-07-19T00:00:00.000     NaN           NaN
33  39       6           2  2010-07-19T00:00:00.000     NaN           NaN
34  40       5           2  2010-07-19T00:00:00.000     NaN           NaN
35  41      13           2  2010-07-19T00:00:00.000     NaN           NaN
36  42       5           2  2010-07-19T00:00:00.000     NaN           NaN
37  43       4           2  2010-07-19T00:00:00.000     NaN           NaN
38  44       9           2  2010-07-19T00:00:00.000     NaN           NaN
39  45      17           2  2010-07-19T00:00:00.000     NaN           NaN
40  46      31           2  2010-07-19T00:00:00.000     NaN           NaN
41  47      22           2  2010-07-19T00:00:00.000     NaN           NaN
42  48      22           2  2010-07-19T00:00:00.000     NaN           NaN
43  49      17           2  2010-07-19T00:00:00.000     NaN           NaN
44  50      22           2  2010-07-19T00:00:00.000     NaN           NaN
45  51      29           2  2010-07-19T00:00:00.000     NaN           NaN
46  52      20           2  2010-07-19T00:00:00.000     NaN           NaN
47  53       2           2  2010-07-19T00:00:00.000     NaN           NaN
48  54      25           2  2010-07-19T00:00:00.000     NaN           NaN
49  55      32           2  2010-07-19T00:00:00.000     NaN           NaN

In [4]:
votes_df.describe()

                 Id        PostId    VoteTypeId         UserId  BountyAmount
count  1.673836e+06  1.673836e+06  1.673836e+06    6757.000000  10414.000000
mean   1.050273e+06  2.280694e+05  2.784771e+00   93078.367619     69.466583
std    6.122089e+05  1.824327e+05  2.853949e+00   97805.565090     50.489072
min    1.000000e+00  1.000000e+00  1.000000e+00      -1.000000      0.000000
25%    5.175822e+05  6.316300e+04  2.000000e+00   13636.000000     50.000000
50%    1.049232e+06  1.909285e+05  2.000000e+00   54018.000000     50.000000
75%    1.579696e+06  3.665810e+05  2.000000e+00  148135.000000    100.000000
max    2.099264e+06  6.255580e+05  1.600000e+01  395073.000000    500.000000

In [5]:
votes_df.isna().sum()

Id                    0
PostId                0
VoteTypeId            0
CreationDate          0
UserId          1667079
BountyAmount    1663422
dtype: int64

In [7]:
votes_df['VoteTypeId'].value_counts()

VoteTypeId
2     1406639
1       70176
3       66195
10      55890
16      32841
15      21333
8        6703
9        6699
6        3919
11       2932
12        379
4          57
5          54
7          19
Name: count, dtype: int64

In [14]:
postHistory_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1486886 entries, 0 to 1486885
Data columns (total 10 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Id                 1486886 non-null  int64
 1   PostHistoryTypeId  1486886 non-null  int64
 2   PostId             1486886 non-null  int64
 3   RevisionGUID       1486886 non-null  object
 4   CreationDate       1486886 non-null  object
 5   UserId             1394767 non-null  float64
 6   Text               1331920 non-null  object
 7   ContentLicense     1332419 non-null  object
 8   Comment            571624 non-null   object
 9   UserDisplayName    29203 non-null    object
dtypes: float64(1), int64(3), object(6)
memory usage: 113.4+ MB

In [15]:
postHistory_df.head()

,Id,PostHistoryTypeId,PostId,RevisionGUID,CreationDate,UserId,Text,ContentLicense,Comment,UserDisplayName
0,1,2,1,e58bf7fd-e60f-4c58-a6e4-dfc91cf98a69,2010-07-19T19:12:12.510,8.0,How should I elicit prior distributions from e...,CC BY-SA 2.5,None,None
1,2,1,1,e58bf7fd-e60f-4c58-a6e4-dfc91cf98a69,2010-07-19T19:12:12.510,8.0,Eliciting priors from experts,CC BY-SA 2.5,None,None
2,3,3,1,e58bf7fd-e60f-4c58-a6e4-dfc91cf98a69,2010-07-19T19:12:12.510,8.0,<bayesian><prior><elicitation>,CC BY-SA 2.5,None,None
3,4,2,2,18bf9150-f1cb-432d-b7b7-26d2f8e33581,2010-07-19T19:12:57.157,24.0,In many different statistical methods there is...,CC BY-SA 2.5,None,None
4,5,1,2,18bf9150-f1cb-432d-b7b7-26d2f8e33581,2010-07-19T19:12:57.157,24.0,What is normality?,CC BY-SA 2.5,None,None

In [20]:
(postHistory_df.isnull().sum()/len(postHistory_df))*100

Id                    0.000000
PostHistoryTypeId     0.000000
PostId                0.000000
RevisionGUID          0.000000
CreationDate          0.000000
UserId                6.195431
Text                 10.422184
ContentLicense       10.388624
Comment              61.555627
UserDisplayName      98.035962
dtype: float64

In [17]:
postHistory_df.count()

Id                   1486886
PostHistoryTypeId    1486886
PostId               1486886
RevisionGUID         1486886
CreationDate         1486886
UserId               1394767
Text                 1331920
ContentLicense       1332419
Comment               571624
UserDisplayName        29203
dtype: int64

In [18]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333784 entries, 0 to 333783
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Id              333784 non-null  int64
 1   Reputation      333784 non-null  int64
 2   CreationDate    333784 non-null  object
 3   DisplayName     333761 non-null  object
 4   LastAccessDate  333784 non-null  object
 5   WebsiteUrl      33070 non-null   object
 6   Location        86458 non-null   object
 7   AboutMe         60608 non-null   object
 8   Views           333784 non-null  int64
 9   UpVotes         333784 non-null  int64
 10  DownVotes       333784 non-null  int64
 11  AccountId       333768 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 30.6+ MB

In [21]:
(users_df.isnull().sum()/len(users_df))*100

Id                 0.000000
Reputation         0.000000
CreationDate       0.000000
DisplayName        0.006891
LastAccessDate     0.000000
WebsiteUrl        90.092395
Location          74.097620
AboutMe           81.842149
Views              0.000000
UpVotes            0.000000
DownVotes          0.000000
AccountId          0.004794
dtype: float64

In [19]:
users_df.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId
0,-1,1,2010-07-19T06:55:26.860,Community,2010-07-19T06:55:26.860,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",3131,17823,9720,-1.0
1,2,101,2010-07-19T14:01:36.697,Geoff Dalgas,2019-02-07T22:01:05.890,http://stackoverflow.com,"Corvallis, OR",<p>Dev #2 who helped create Stack Overflow cur...,49,3,0,2.0
2,3,101,2010-07-19T15:34:50.507,Jarrod Dixon,2019-02-07T16:22:42.717,http://jarroddixon.com,"Johnson City, TN, USA","<p>Former <a href=""http://blog.stackoverflow.c...",50,23,0,3.0
3,4,101,2010-07-19T19:03:27.400,Emmett,2016-11-24T19:37:25.313,http://minesweeperonline.com,"San Francisco, CA","<p>co-founder of <a href=""https://airtable.com...",24,0,0,1998.0
4,5,12151,2010-07-19T19:03:57.227,Shane,2022-12-07T19:30:33.150,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,2101,684,5,54503.0